@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Light-Web.woff2');
	font-weight: 300; /*light = 300*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Regular-Web.woff2');
	font-weight: normal; /*normal = 400*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Medium-Web.woff2');
	font-weight: 500; /*medium = 500*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Bold-Web.woff2');
	font-weight: bold; /*bold = 700*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Black-Web.woff2');
	font-weight: 900; /*black/heavy = 900*/
}

html,
body {
	font-family: 'Atlas Grotesk', sans-serif;
	font-weight: 500;
}

.reshape-copy {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
}

.reshape-lead-medium {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.reshape-lead-light {
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
}

.reshape-gradient-bg {
	background: linear-gradient(to right, #acacff 0%, white 5%, white 95%, #acacff 100%);
}

.inset {
	padding-left: 24px;
	padding-right: 24px;
}

.inset-negative {
	margin: 0 -24px;
}

.inset-left {
	padding-left: 31px;
}
