@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Light-Web.woff2');
	font-weight: 300; /*light = 300*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Regular-Web.woff2');
	font-weight: normal; /*normal = 400*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Medium-Web.woff2');
	font-weight: 500; /*medium = 500*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Bold-Web.woff2');
	font-weight: bold; /*bold = 700*/
}

@font-face {
	font-family: 'Atlas Grotesk';
	src: url('fonts/AtlasGrotesk/AtlasGrotesk-Black-Web.woff2');
	font-weight: 900; /*black/heavy = 900*/
}

html,
body {
	font-family: 'Atlas Grotesk', sans-serif;
	font-weight: 500;
}
